<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 <!-- TEMPLATE STYLE -->
	<div th:replace="template/style"></div>
<body>
 <!-- TEMPLATE NAV -->
   <div th:replace="template/nav"> </div>
	<div class="container">
	
		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<form  th:action="@{/views/clients/save}" th:object="${client}"	method="post">
					<div class="form_group row">
						<input type="hidden" th:field="*{idclient}"/>
						<label class="col-md-2">First Name:</label>
						<input type="text" th:field="*{firstname}" class="form-control form-control-sm col-md-6"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" ></small>
					</div>
					<div class="form_group row">
						<label class="col-md-2">Last Name:</label>
						<input type="text" th:field="*{lastname}" class="form-control form-control-sm col-md-6"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" ></small>
					</div>
					<div class="form_group row">
						<label class="col-md-2">Email:</label>
						<input type="text" th:field="*{email}" class="form-control form-control-sm col-md-6"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></small>
					</div>
					<div class="form_group row">
						<label class="col-md-2">Phone:</label>
						<input type="text" th:field="*{phone}" class="form-control form-control-sm col-md-6"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" ></small>
					</div>
					<div class="form_group row">
						<label class="col-md-2">City:</label>
						<select th:field="*{idcity}" class="form-control form-control-sm col-md-6">
							<option th:each="city : ${cities}"
								th:value="${city.idCity}"
								th:text="${city.city}"
							/> 
						 </select> 
						
					</div>
					
					<div class="card-footer bg-dark">
					   <input type="submit" class="btn btn-primary btn-sm" value="Guardar">
				   </div>
			   </form>
			</div>
			
		</div>
		<!-- END PAGE CONTAINER -->
	</div>
	<!-- TEMPLATE SCRIPT -->
	<div th:replace="template/script"></div>
</body>
</html>
