<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="plantilla/template :: head">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div th:replace="components/style"></div>
<title>HOME</title>

</head>
<body>
    <header th:replace="plantilla/template :: header"></header>
    <h1>HOLA DESDE SPRING </h1>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>

</html>